{{ define "methods" }}
{{- range .Methods }}
// {{ .Name }} relies on Do{{ .Name }} for defining it's behavior.
func (m *mock{{ $.Name | title }}) {{ .Name }}({{ template "declare-params" . }}) {{ template "results" . }} {
    return m.Do{{ .Name }}({{ template "use-params" . }})
}
{{- end }}
{{- end }}